@font-face {
  font-family: 'iconfont';  /* project id 573427 */
  src: url('https://at.alicdn.com/t/font_573427_iq2ybheysus4te29.eot');
  src: url('https://at.alicdn.com/t/font_573427_iq2ybheysus4te29.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_573427_iq2ybheysus4te29.woff') format('woff'),
  url('https://at.alicdn.com/t/font_573427_iq2ybheysus4te29.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_573427_iq2ybheysus4te29.svg#iconfont') format('svg');
}
#top{
	width: 100%;
	height: 1.78rem;
	position: fixed;
}
.top_height{
	width: 100%;
	height: 1.78rem;
}
.search{
	width: 100%;	
	height: .92rem;	
	background-color: #d33d3e;
	padding: .16rem .24rem;
	display: flex;
	align-items: center;
}
.search_toutiao{
	font-size: .4rem;
	line-height: .4rem;
	color: #fff;
	display: block;
	margin-left: .06rem;
	font-weight: bold;
}
.sousuo_kuang{
	width: 4.53rem;	
	height: .6rem;	
	margin: 0 auto;
	margin-right: .22rem;
	line-height: .28rem;
	position: relative;
}
.sousuo{
	display: block;
	width: 4.53rem;	
	height: .6rem;	
	margin: 0 auto;
	outline: none;
	border-radius: .08rem;
	margin-right: .22rem;
	font-size: .28rem;
	line-height: .28rem;
}
.tuijian{
	width: 100%;
	height: .86rem;
	border-top: .01rem solid #e8e8e8;
	border-bottom: .01rem solid #e8e8e8;
	color: #000;
	padding: 0 .24rem;
}
.tuijian_left{
	padding-left: .05rem;
	display: flex;
	justify-content:space-between; 
	align-items: center;
	width: 6.43rem;
	height: .86rem;
	overflow: hidden;	
	float: left;
	position: relative;	
	overflow-x: scroll;
}
.tuijian_left::-webkit-scrollbar{          /* : : 伪类选择器  h3*/
	display: none;
}
.tuijian_wenzi{
	font-size: .32rem;
	line-height: .32rem;
    padding: 0 .24rem;
	flex-shrink:0;
}
.tuijian_wenzi1{
	color:#d33d3e;
}
.tuijian_wenzi2{
    position: fixed;
    display: block;
    top: 1.12rem;
    right: .7rem;
	width: .25rem;
	height: .46rem;
	border-left: 1px solid rgba(0, 0, 0, 0.6);
	background-color: #fff;
	opacity: 0.8;
}
.tuijian_right{
	margin-right: .24rem;
	width: .32rem;
	height: .32rem;
	float: right;
	font-family: 'iconfont'; 
	margin-top: .29rem;
	font-size: .33rem;
	line-height: .32rem;
	color: #111;
}
#content{
	position: absolute;
	left: 0;
	right: 0;
	top: 1.78rem;
	bottom: .98rem;
	overflow-y: scroll;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .24rem;
}
.item{
	width: 100%;
	height: 3.26rem;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
}
.item_wenzi{
	width: 100%;
	display: block;
	padding:.2rem 0;
}
.img_box{
	width: 100%;
	height: 2.18rem;
	display: flex;
	justify-content:space-between; 
	position: relative;
}
.imginner{
	width: 2.3rem;
	height: 1.68rem;
}
.item_img{
	width: 2.3rem;
	height: 1.68rem;
}
.item_pinglun{
	position: absolute;
	top: .95rem;
	left: 0;
	width: 100%;
	height: .5rem;
}
.item_pinglun span{
	font-size: .18rem;
	line-height: .18rem;
	color: #a1a1a1;
	margin-right: .15rem;
} 
#bottom{
	width: 100%;
	height: .98rem;
	padding: 0 .24rem;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #f9f9f9;
	border-top: 1px solid #e8e8e8;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
 .bottom_item{
	width: .71rem;
	height: .8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: .03rem 0;
}
.icon{
	width: .52rem;
	height: .52rem;
	text-align: center;
	font-family: 'iconfont';
	font-size: .35rem;
	color: #000;
}
.wenzi{
	font-size: .22rem;
	line-height: .22rem;
	text-align: center;
	color: #818181;
	margin: 0 -.1rem;
}
.bottom_item4 span{
	color: #d33d3e;
}
.icon1{
	font-family: 'iconfont'; 
	position: absolute;
	left: .2rem;
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: .3rem;
	color: #9d9d9d;
	width: .3rem;
	height: .3rem;
} 